<div class="container">
  <div class="callout callout--primary callout-signup">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">
          Ready to get started?
        </h2>
        <p class="callout__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto officiis provident cumque soluta exercitationem, nobis ullam eveniet voluptas quia illo. Amet non est nostrum tenetur. Ipsum perspiciatis rerum nostrum laboriosam.</p>
      </div>
      <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
  </div>
</div>