
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, nihil tempora? Id fuga laborum blanditiis ipsam reprehenderit et, velit libero eligendi tempora, architecto, sed maxime laudantium cum nihil necessitatibus provident. 
      </div>
    </div>