<section class="block block--dark block--skewed-left hero">
  <div class="grid grid--1x2">
    <header class="hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">
        Deploy your websites in less than 60 seconds.
      </p>
      <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <picture>
    <source srcset="./assets/img/banner.png" type="image/webp"/>
     <img src="./assets/img/banner.png" class="hero__image" atl="banner" />
    </picture>
  
    </div>
</section>