<div class="input-group">
   
  <input type="text" class="input" placeholder="enter domain name "/>
  <button class="btn btn--accent">
   
      <svg class="icon icon--white">
        <use href="./assets/icons/sprite.svg#search"></use>
      </svg>
  
    Search</button>
</div>