<nav class="nav collapsible">
  <a href="/" class="nav_brand">
    <img src="./assets/img/" alt="LOGO">
  </a>
  
  <svg class="icon icon--white nav__toggler">
    <use href="./assets/icons/sprite.svg#menu"></use>
  </svg>

  <ul class="list nav__list collapisble__content">
    <li class="nav__item">
      <a href="#">Hosting</a>
    </li>

    <li class="nav__item">
      <a href="#">VPS</a>
    </li>

    <li class="nav__item">
      <a href="#">Domain</a>
    </li>

    <li class="nav__item">
      <a href="#">Pricing</a>
    </li>
  </ul>
</nav>

