<div style="width: 50; padding:4rem;">
  <div class="plan plan--popular">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Plan Name</h3>
        <span class="plan__price">$9.99</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--primary badge--small">10% off </span>
        <span class="plan__description">Easy start on the cloud</span>
        </header>

      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Item 1</li>
          <li class="list__item">Item 2</li>
          <li class="list__item">Item 3</li>
        </ul>
          <button class="btn btn--outlined btn--block feature-buton">Buy now</button>
      </div>

    </div>
  </div>
</div>
