<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="./assets/img/testimonial.jpg" alt="happy smiling customer"/>

      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white">
          <use href="./assets/icons/sprite.svg#quotes"></use>
        </svg>
      </span> 
     </div>

     <blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero perferendis rem autem et, deserunt reprehenderit nihil totam perspiciatis porro eligendi.</p>  
        <footer>
          <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use href="./assets/icons/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media_body">
              <h3 class="media__title quote__author">John Doe</h3>
              <p class="quote__company">Solutions Resorce Inc.</p>
            </div>
          </div>
        </footer>
    </blockquote>
    

  </div>
</div>


<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="./assets/img/testimonial.jpg" alt="happy smiling customer"/>

      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white">
          <use href="./assets/icons/sprite.svg#quotes"></use>
        </svg>
      </span> 
     </div>

     <blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero perferendis rem autem et, deserunt reprehenderit nihil totam perspiciatis porro eligendi.</p>  
        <footer>
          <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use href="./assets/icons/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media_body">
              <h3 class="media__title quote__author">John Doe</h3>
              <p class="quote__company">Solutions Resorce Inc.</p>
            </div>
          </div>
        </footer>
    </blockquote>
    

  </div>
</div>