@import "./normalize.css";
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;


  --border-radius: 30px;
}

html{

  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);

}

h1, h2, h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2{
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

@media screen and (min-width: 768px){
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;

  }
  h3 {
    font-size: 2.4rem;
  }
}




p{
  margin-top: 0;
}


a {
  text-decoration: none;
}

.link-arrow {
  color: #ff3400;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after{
  content: "→";
  margin: "";
  transition: margin .15s;
}

.link-arrow:hover::after{
  margin-left: 10px;
}

/* badge */
.badge{
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: .5rem 2rem;
  
}

.badge--primary{
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary{
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small{
  font-size: 1.6rem;
  padding: .5rem 1.5rem;
}

@media screen and (min-width: 1024px){
  .badge{
    font-size: 1.5rem;
  }

  .badge--small{
    font-size: 1.2rem;
  }
}

/* List */
.list{
  list-style: none;
  padding-left: 0;
}

.list--tick{
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick .list__item{
  padding-left: .5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){
  .list--tick .list__item{
    padding-left: 0;
  }
}


/*btn*/

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 4rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--block {
  width: 100%;
  display: inline-block;
  }

.btn--outlined{
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);

}

.btn--outlined:hover{
  background-color: var(--color-headings);
  color: #fff;
}



.btn .icon{
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}



  /*input*/


.input{
  border-radius: var(--border-radius);
  border: 1px solid var (--color-border);
  color: var(color-heading);
  font-size: 2rem;
  outline: 0; 
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group{
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input{
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2.5rem;
  width: 0;
}


.input-group .btn{
  margin: 4px;

}

@media screen and (min-width: 1024px){
  .input{
    font-size: 1.5rem;
  }
}

/*icons*/
.icon{
  width: 40px;
  height: 40px;

}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
 background-color: #f4f9fa;
}

.icon--white{
  fill: white;
}

.icon-container--primary{
  background: var(--color-primary);
  color: #fff;
}

.icon-container--accent{
  background: var(--color-accent);

}

/*card*/

.card{
  border-radius: 7px;

  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 7%;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}


/*plans*/
.plan{
  transition: transform .2s ease-out;
}

.plan:hover{
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}


.plan__name {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.plan__price{
  font-size: 5rem;
}


.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  margin-right: 1rem;
  opacity: .8;

}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  display: block;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header{
  
  position: relative;
}

.plan--popular .card__header::before{
  content: url(../img/popular.svg);
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}





@media screen and (min-width: 1024px){
  .plan--popular{
    transform: scale(1.1); 
  }

  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle{
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}


/*navbar*/

.nav{
  align-items: center;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.nav__list{
  width:100%;
  margin: 0;
}

.nav__item{
  padding: .5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: #d2d0db;
  transform: color .3s;
}

.nav__item > a:hover {
  color: #fff;
  /* border-bottom: 1px solid red; */
}

.nav__toggler {
  opacity: .5;
  transition: box-shadow .15s;
  cursor: pointer;
}

.nav__brand {
  transform: translateY(5px);
  width: 150px;

}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow:  0 0 0 3px #666;
  border-radius: 5px;
}


@media screen and (min-width: 768px) {
  .nav__toggler{
    display: none;
  }

  .nav__list{
    max-height: 100%;
    width: auto;
    display: flex;
    font-size: 1.6rem;
    opacity: 1;
  }

  .nav__item{
    border: 0;
  }

}

/* Collapsibles */
@media screen and (max-width: 768px) {
  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s;
  }
  
  .collapsible--expanded 
  .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }
}

.collapsible__heading{
  margin-top: 0;
  font-size: 3rem;
}


.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform .3s;
}

.collapsible__header{
  display: flex;
  justify-content: space-between;
}






/*testimonial*/

.testimonial {
  padding: 3rem;
}

.testimonial .quote {
  margin: 2rem 0;
  font-size: 110%;
}

.testimonial__heading {
  color: var(--color-headings);
}

.testimonial__image {
    position: relative;
    margin: 0 3rem;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
  
}

@media screen and (min-width: 768px){
  .testimonial .quote,
  .testimonial .quote__author{
    font-size: 2.4rem;
  }

  .testimonial .quote{
    margin-left: 6rem;
  }
}

/*Quotes*/
.quote{
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;

}

.quote__author{
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__company{
  color: var(--color-headings);
  opacity: .4;
  font-size: 1.5rem;
  font-style:normal;
}

.quote__line{
  position: relative;
  bottom: 10px;
}

.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}

@media screen and (min-width:1024px){
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__company{
    font-size: 1.6rem;
  }

}


/*Grid*/

.grid {
  display: grid;

}

@media screen and (min-width: 768px) {
  .grid--1x2{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px){
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
}


/*media*/
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  padding: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}


/*Hero*/

.hero__tagline{
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5 rem;
}

@media screen and (min-wdith: 768px) {
  .hero_content{
    text-align: left;
    align-self: center;
  }
}

@media screen and (min-wdith: 1024px) {
  .hero {
    padding-top: 0;
  }
}

/*block*/
.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block_header {
  text-align: center;
  margin-bottom: 4rem;
}

.block--dark {
  background-color: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3
{
  color: #fff;
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical + 4rem));
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.block--skewed-right {
  padding-bottom: 5rem 4rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*Callout*/
.callout{
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary{
  background-color: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}


.callout .btn {
  justify-content: center;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2{
    grid-template-columns: 1fr auto;
  }

  .callout-content{
    text-align: left;
  }

  .callout .btn{
    justify-self: start;
    margin: 0 2rem;
  }
}


/*Footer*/
.footer {
  background: #232323;
  padding-top: 10rem;
}

.footer a {
  color: #777;
  transition: color .3s;
}

.footer a:hover {
  color: #fff;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img { 
  max-width: 230px;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: .3;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.5rem;
  }

  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer .collapsible__chevron {
    display: none;
  }

  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }

  .footer__section {
    border: 0;
  }

  .footer__heading {
    font-size: 1.6rem;
  }
}